
asp-mvc/.vs/

asp-mvc/packages/
asp-mvc/PartyInvites/bin/
asp-mvc/packages/
asp-mvc/PartyInvites/obj/

asp-simple-language-features/.vs/
asp-simple-language-features/packages/

asp-simple-language-features/asp-simple-language-features/bin/
asp-simple-language-features/asp-simple-language-features/obj/

Razor/.vs/

Razor/packages/
Razor/Razor/bin/
Razor/packages/
Razor/Razor/obj/