@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css"
    <title>Thanks</title>
</head>
<body>
    <div class=" text-center">
        <h1>Thank you, @Model.Name</h1>
        <div class="lead">
            @if (Model.WillAttended == true)
            {
                @:it's great that your're coming. The drink is already in fridge!
            }
            else
            {
                @:Sorry to hear that you can't make it, but thanks for letting us know.
            }
        </div>
    </div>
</body>
</html>
