@using Razor.Models
@model Razor.Models.Product[]

@{
    ViewBag.Title = "DemoArray";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>DemoArray</h2>

@if (@Model.Length > 0)
{    <table>
        <thead>
            <tr><th>Property</th><th>Value</th></tr>
        </thead>
        <tbody>
            @foreach (Product p in @Model)
            {
                <tr><td>Name</td><td>@p.Name</td></tr>
                <tr><td>Price</td><td>@p.Price</td></tr>
            }
        </tbody>
    </table>
}
else
{
    < h2 > No Product Data</ h2 >
}