@model Razor.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="wiidth=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

    </div>
</body>
</html>

